@charset "UTF-8";



:root {
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: black;
    --cor3: #2fa866;
    --cor4: black;
    --cor5: #063d1e;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor0);
}

header {
    background-image: linear-gradient(to bottom, var(--cor2), var(--cor4));
    padding-top: 50px;
    padding-bottom: 20px;
}

header > h1 {
    font-size: 3em;
    color: pink;
    padding: 5px;
    margin-top: 50px;
    text-align: center;
    margin: auto;
}

header p {
    font-size: 2em;
    color: white;
    text-align: center;
    margin: auto;
}

nav {
    background-color: var(--cor4);
    padding: 10px;
}

nav a {
    background-color: var(--cor4);
    color: black;
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
    margin: 2px;
    font-weight: bolder;
}

nav a:hover {
    background-color: white;
    transition-duration: 0.5ms;
}

main h1 {
    background-image: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2em;
    margin-top: 10px;
    padding-bottom: 5px;
    text-indent: 20px;
}

main p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2em;
    text-align: justify;
    text-indent: 30px;
    padding-top: 10px;
}

footer p {
    background-color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1em;
    margin-top: 20px;
    text-align: center;
    color: white;
}